body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2 {
	font-family: 'Abel', sans-serif;
	font-weight: 400;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

p {
	padding: 0;
	margin: 0;
}

.container {
	max-width: 100%;
	width: 1280px;
	margin: 0 auto;
}

.header	{
	background: url('../img/header-bg.png') no-repeat center top;
	padding-top: 45px;
}

.menu_nav {
	display: flex;
	justify-content: space-around;
}

.list a {
	list-style: none;
	line-height: 18px;	
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.offer {
	display: flex;
	flex-direction: column;
	padding-top: 151px;
}

.text_vertical {
	display: inline-block;
	writing-mode: vertical-rl;
	 -webkit-transform:rotate(-180deg);
}

.title_text {
	position: absolute;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	padding-left: 565px; 
}

.title_hungry {
	font-size: 96px;
	position: absolute;
	padding-left: 330px;
	padding-top: 25px;
}

.title_hungry:after {
	content: '';
	display: block;
	width: 60px;
	height: 5px;
	background: #E8C300;
	margin-top: 10px;
	margin-left: 280px;
}

.button {
	display: flex;
	position: absolute;
}

.button_1 {
	padding-top: 185px;
	padding-left: 415px;
}

.button_2 {
	padding-top: 185px;
	padding-left: 50px;
}


.btn {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	border-radius: 5px;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	background: #E8C300;
	width: 200px;
	padding: 26px 0;
	letter-spacing:	0.5px;
}

.explore {
	background: none;
	border: 1px solid rgba(255, 255, 255, 0.5);	
}

.social {
	display: flex;
	flex-direction: column;
	position: absolute;
	padding-left: 1200px;
}

.image_social {
	padding-bottom: 30px;
}

.button_block {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	padding-top: 82px;
	padding-bottom: 82px;
}

.button_scroll {
	border-radius: 50%;
}

.about_us {
	padding-bottom: 100px;
}

.wrapper_about {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
}

.about {
	color: #000;
	font-size: 36px;
	line-height: 48px;
	padding-top: 217px;
	margin-left: 280px;
}

.about:after {
	content: '';
	display: block;
	width: 60px;
	height: 5px;
	background: #E8C300;
	margin-top: 21px;
	margin-left: 35px;
}

.text_about {
	font-size: 18px;
	line-height: 28px;
	color: #000;
	font-weight: 700;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 35px;
	padding-left: 50px; 
	width: 600px;
}

.intro_about {
	font-size: 14px;
	line-height: 24px;
	color: #000;
	font-weight: 400;
	text-align: center;
	padding-left: 50px;
	width: 600px; 
}

.image_about {
	 padding-top: 100px;
}

.image {
	width: 670px;
}

.our_team {
	background: url(../img/specialty.png) no-repeat center top;
	padding-bottom: 100px;
}

.team {
	display: flex;
	justify-content: center;
}

.title_text_team {
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 45px 0;
}

.wrapper_team {
	display: flex;
	justify-content: space-around;
}

.image_team {
	padding-left: 100px;
}

.offer_team {
	padding-top: 120px;
	padding-right: 150px;
}

.chef {
	color: #fff;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
}

.chef:after {
	content: '';
	display: block;
	width: 60px;
	height: 5px;
	background: #E8C300;
	margin-top: 20px;
	margin-left: 280px;
}

.text_team {
	width: 600px;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
}

.intro_team {
	width: 600px;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.book_table {
	padding-top: 150px;
}

.book {
	color: #000;
	font-size: 36px;
	line-height: 48px;
	margin-left: 280px;
}

.book:after {
	content: '';
	display: block;
	width: 60px;
	height: 5px;
	background: #E8C300;
	margin-top: 21px;
	margin-left: 70px;
}

.menu_book {
	padding-top: 20px;
}


.input {
	width: 256px;
	height: 60px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: rgba(51, 51, 51, 0.5);
	background: #E5E5E5
	border-radius: 5px;
	padding-left: 20px;
}

.menu_book {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.menu_book label {
    display: block;
    width: 50%;
}

.menu_book label:nth-child(1) {
    order: 1;
}

.menu_book label:nth-child(2) {
    order: 3;
}

.menu_book label:nth-child(3) {
    order: 5;
}

.menu_book label:nth-child(4) {
    order: 2;
}

.menu_book label:nth-child(5) {
    order: 4;
}

.menu_book label:nth-child(6) {
    order: 6;
}